.SeasonTicketsPage {
  width: 100%;

  h5 {

    span {
      color: blueviolet;
     font-size: 1.8em;
    }
  }

  .suggestedSeasonTickets {
    max-width: 80em;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2.5em 0;

    > div {
      position: relative;
      border: #ec4d34 solid 0.2em;
      border-radius: 1em;
      max-width: 24em;
      width: 100%;
      height: 34em;
      background-color: white;
    }
    > div:first-child {
      scale: 0.95;
    }
    > div:last-child {
      scale: 0.95;
    }

    li {
      font-size: 0.85em;
    }

    select {
      font-family: "Gotham Pro", sans-serif;
      font-size: 1.4em;
      padding: 0.4em 0.8em 0.4em 0;
      width: 15em;
      margin: 0.2em 0.8em 0 0.8em;
      letter-spacing: 0.1em;
    }

    .ArrangeBtn {
      height: 2.5em;
      position: absolute;
      bottom: 1em;
      right: 0;
      left: 0;
      margin: 0 1em;
      font-size: 1.2em;
      border-radius: 0.5em;
      border: solid #ec4d34 0.2em;
      font-family: "Gotham Pro", sans-serif;
      font-weight: 800;
      transition: all 0.2s ease-in-out;
    }
    .ArrangeBtnA {
      cursor: pointer;
      color: black;
      background-color: white;
    }
    .ArrangeBtnD {
      cursor: auto;
      color: rgba(#ec4d34, 0.4);
      background-color: rgba(0, 0, 0, 0.2);
    }

  }

}