.SeasonTicketsPage {
  width: 100%;


  .suggestedSeasonTickets {
    max-width: 80em;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2.5em 0;

    > div {
      position: relative;
      border: #ec4d34 solid 0.2em;
      border-radius: 1em;
      max-width: 24em;
      width: 100%;
      height: 30em;
      background-color: white;
    }
    > div:first-child {
      scale: 0.95;
    }
    > div:last-child {
      scale: 0.95;
    }

    .CustomSTArrangeBtn {
      cursor: pointer;
      height: 2.5em;
      position: absolute;
      bottom: 1em;
      right: 0;
      left: 0;
      margin: 0 1em;
      font-size: 1.2em;
      border-radius: 0.5em;
      border: solid #ec4d34 0.2em;
      font-family: "Gotham Pro", sans-serif;
      font-weight: 800;
      transition: all 0.2s ease-in-out;
    }
  }

  .customSeasonTicket {
    position: relative;
    width: 20em;
    height: 28em;
    margin: 0 auto;
    border-radius: 0.8em;
    background-color: rgba(white, 0.8);
    border: 0.2em #ec4d34 solid;
    padding: 0.75em 1em;

    select {
      color: black;
      width: 100%;
      font-size: 1.2em;
      border: #ec4d34 solid 0.2em;
      border-radius: 0.2em;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      padding: 0.5em 0;
    }

    .selectWorkoutCSTicket {
      margin: 0.5em 0;
      user-select: none;
      font-size: 1.4em;
      width: 100%;
      height: 12em;
      overflow-y: scroll;
      border-radius: 0.2em;

      div {
        margin: 0.2em 0;
        padding-bottom: 0.2em;
        border-radius: 0.3em;
        background-color: rgba(#ec4d34, 0.15);

        span {
          font-size: 0.8em;
        };
      }
    }

    .CustomSTWOSBtn {
      width: 100%;
      font-size: 1.2em;
      border-radius: 0.2em;
      margin: 0;
      border: solid #ec4d34 0.2em;
      font-family: "Gotham Pro", sans-serif;
      font-weight: 800;
    }

    .CustomSTArrangeBtn {
      cursor: pointer;
      height: 2.5em;
      position: absolute;
      bottom: 1em;
      right: 0;
      left: 0;
      margin: 0 1em;
      font-size: 1.2em;
      border-radius: 0.5em;
      border: solid #ec4d34 0.2em;
      font-family: "Gotham Pro", sans-serif;
      font-weight: 800;
      transition: all 0.2s ease-in-out;
    }
    .CSTABA {
      background-color: #faebd8;
    }
    .CSTABA:hover {
      background-color: white;
    }
    .CSTABI {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}